* {
  margin: 0;
  padding: 0;
}
:root {
    primary: #352f44;
    highlighter: #5c5470;
    secondary: #b9b4c7;
    lightText: #faf0e6;
  }

.theme-button {
  transition: all ease 0.5s;
}
.theme-button:hover {
  cursor: pointer;
  margin-bottom: 1rem;
}
